* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-title {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
}

.title {
  font-size: 30px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.container-menu-finanzas {
  width: 100%;
  height: 10vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-bottom: 2px solid black;
}

.container-menu-finanzas a {
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  min-height: 80vh;
}

.container-title-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  border: 2px solid black;
}

.title-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-main {
  font-size: 80px;
}

.month {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  gap: 12px;
}

.month h2 {
  font-size: 20px;
  margin: 0;
}

.container-ingreso-gastos {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 12px;
  padding: 12px;
}

.ingreso-gastos h3 {
  font-size: 16px;
  margin-bottom: 0;
}

.container-button-agregar {
  height: auto;
  display: flex;
  justify-content: right;
}

.button-agregar {
  width: 100px;
  height: 40px;
}

.container-gastos {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 12px;
  padding: 12px;
  gap: 10px;
}

.card {
  width: 100%;
  padding: 12px;
  border: none;
}

.card-buttons {
  display: flex;
  justify-content: right;
  padding: 10px 0 0 0;
  gap: 10px;
}

.total {
  width: 100%;
  height: auto;
  border: 2px solid grey;
  border-radius: 12px;
  padding: 10px 10px 10px 16px;
  display: flex;
  gap: 10px;
}

.total h1 {
  margin-bottom: 0px;
  font-size: 26px;
}

.container-grafico-gastos {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  border-radius: 12px;
  padding: 12px;
  gap: 10px;
}

.grafico-gastos-titulo {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid grey;
}

.grafico-gastos-titulo h2 {
  font-size: 20px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.grafico-gastos-categorias {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 6px;
}

.grafico-gastos-categorias h4 {
  margin-bottom: 0;
}

.categoria {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  padding: 0 20px;
}

.categoria h4 {
  min-width: 90px; /* Ancho fijo para todas las etiquetas */
  margin: 0;
  font-size: 16px;
}

.progress {
  width: 700px; /* Ancho fijo para todas las barras */
  height: 20px;
  background-color: #e9ecef;
  border-radius: 5px;
}

.progress-bar {
  height: 100%;
  background-color: #007bff;
}

.container-conversiones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  padding: 14px;
  border: 2px solid grey;
  border-radius: 12px;
}

.tipo-conversion h3,
.convertir-a h3 {
  font-size: 20px;
}

.cantidad-conversion {
  display: flex;
  gap: 12px;
  align-items: end;
}

.cant-conversion {
  padding-left: 6px;
}

.cantidad-conversion h3 {
  margin: 0;
  font-size: 20px;
}

.convertir-a {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-down {
  width: 200px;
}

.btn-convertir {
  width: 120px;
  height: 40px;
}

.container-resultado-conversion {
  padding: 14px;
  border: 2px solid grey;
  border-radius: 12px;
}

.resultado-conversion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultado-conversion h2 {
  font-size: 20px;
}

.resultado-conversion h3 {
  font-size: 20px;
}

.container-tabla-valores-comunes {
  padding: 14px 14px 6px 14px;
  border: 2px solid grey;
  border-radius: 12px;
}

.title-tabla-valores {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid grey;
}

.title-tabla-valores h2 {
  font-size: 20px;
}

.tabla-valores-comunes {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 14px;
}

.container-moneda {
  padding: 14px;
  border: 2px solid grey;
  border-radius: 12px;
  font-size: 18px;
}

.container-moneda h2 {
  font-size: 18px;
}

.container-moneda h3 {
  font-size: 16px;
}

.title-moneda {
  display: flex;
  gap: 10px;
}

.container-titulo-simulador {
  width: 100%;
  height: 18vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.tituo-simulador {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-calculo-simulador {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 14px;
  border: 2px solid grey;
  border-radius: 12px;
  gap: 20px;
}

.container-calculo-simulador h3 {
  font-size: 18px;
}

.container-resultado-simulador {
  display: flex;
  flex-direction: column;
  padding: 14px;
  border: 2px solid grey;
  border-radius: 12px;
  gap: 20px;
}

.titulo-resultado-simulador {
  display: flex;
  justify-content: center;
}

.montos-resultado-simulador h3 {
  font-size: 18px;
}

.container-grafico-simulador {
  display: flex;
  flex-direction: column;
  padding: 14px;
  border: 2px solid grey;
  border-radius: 12px;
  gap: 16px;
}

.container-grafico-simulador h2 {
  font-size: 18px;
}

.container-titulo-grafico {
  display: flex;
  justify-content: center;
}

.tituo-grafico {
  font-size: 24px;
}

.total-pagar-simulador {
  margin: 0;
}

#footer {
  width: 100%;
  height: 10vh;
  border-top: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: end;
}

#footer h3 {
  font-size: 16px;
}
